[submodule "rov_devices/flir_camera_driver"]
	path = rov_devices/flir_camera_driver
	url = https://github.com/GSO-soslab/flir_camera_driver
	branch = main
[submodule "rov_devices/synchronizer_ros"]
	path = rov_devices/synchronizer_ros
	url = https://github.com/GSO-soslab/synchronizer_ros
	branch = main
[submodule "rov_devices/nortek_dvl_ethernet"]
	path = rov_devices/nortek_dvl_ethernet
	url = https://github.com/GSO-soslab/nortek_dvl_ethernet
	branch = main
[submodule "rov_devices/nortek_dvl"]
	path = rov_devices/nortek_dvl
	url = https://github.com/GSO-soslab/nortek_dvl
	branch = master
[submodule "rov_devices/ROS_MSCL"]
	path = rov_devices/ROS_MSCL
	url = https://github.com/GSO-soslab/ROS_MSCL
	branch = main
[submodule "rov_devices/sonar_oculus"]
	path = rov_devices/sonar_oculus
	url = https://github.com/GSO-soslab/sonar_oculus
	branch = main
[submodule "rov_devices/synchronizer_arduino"]
	path = rov_devices/synchronizer_arduino
	url = https://github.com/GSO-soslab/synchronizer_arduino
	branch = main
