<?xml version="1.0" ?>
<launch>

  <group ns="rov/sensors">

    <!-- Start the sonar reading -->
    <node name="sonar" pkg="sonar_oculus" type="sonar_oculus_node" output="screen">
      <param name="frame" type="string" value="/sonar"/>
    </node>

    <!-- Open Oculus viewer -->
    <node name="sonar_viewer" pkg="sonar_oculus" type="oculus_viewer.py" output="screen"/>

    <!-- Remote image transport : for remote compressed image -->
    <node name="sonar_transport_node" pkg="sonar_oculus" type="sonar_oculus_transport_node" output="screen"/>
    <group ns="sonar/image_transport">
      <rosparam param="disable_pub_plugins">
        - 'image_transport/compressedDepth'
        - 'image_transport/theora'
        <!-- - 'image_transport/compressed' -->
      </rosparam>
    </group>

  </group>
</launch>
