<?xml version="1.0" ?>
<launch>

    <!-- Offline or online -->
    <arg name="offline" default="true"/>

    <!-- Start ROS Bag -->
    <param name="use_sim_time" value="$(arg offline )" />

    <arg name="bag" 
         default="/home/lin/develop/data/underIce/GLRC/day_3_13/bags/40m_servo60_noLED_noAR_LowFeq10m_dvlCorrect.bag" />
    <arg name="bag_start" default="0" /> 

    <!-- <arg name="bag"        default="/home/lin/develop/data/underIce/GLRC/day_3_11/test_2_dvlCorrect.bag" />
    <arg name="bag_start"  default="0" />  -->

    <!-- <arg name="bag" default="/home/lin/develop/data/underIce/GLRC/day_3_13/bags/40m_ARTagOn_dvlCorrect.bag" />
    <arg name="bag_start" default="0" />  -->

    <node if="$(arg offline )" pkg="rosbag" type="play" name="rosbag" required="true"
          args="--clock --pause -d 1 -s $(arg bag_start) $(arg bag)" />

    <!-- TF -->
    <include file="$(find rov_onboard)/launch/sensors/urdf/urdf_glrc.launch" />

    <!-- Odometry -->
    <include file="$(find rov_processing)/launch/robot_localization/glrc_odom.launch" />

    <!-- Visualize -->
    <node name="path_node" pkg="rov_processing" type="pub_path" output="screen" >
        <remap from="odometry_1" to="/rov/processed/robot_localization_odometry"/>
        <remap from="path_1" to="/rov/processed/robot_localization_path"/>
    </node>

</launch>