<?xml version="1.0"?>
<launch>

    <!-- rosserial: talk to arduino -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn="true" >
        <param name="port" value="/dev/arduino_zero_native" type="string" />
        <param name="baud" value="250000"       type="int" />
    </node> 

    <!-- reset arduino system -->
    <node pkg="rostopic" type="rostopic" name="resetter" output="screen"
          args="pub /rov/synchronizer/reset_system std_msgs/Bool -1 true" />
          
</launch>
