<?xml version="1.0"?>
<launch>

<!-- sensors -->
    <!-- Stereo-camera: timestamp remapped to arduino trigger time -->
    <include file="$(find rov_onboard)/launch/sensors/cameras/flir_stereo_sync.launch"/> 

    <!-- AHRS: timestamp sync with PPS -->
    <include file="$(find rov_onboard)/launch/sensors/ahrs/microstrain_ahrs_sync.launch"/>

    <!-- DVL Ethernet -->
    <!-- <include file="$(find rov_onboard)/launch/sensors/dvl/nortek_dvl_ethernet.launch"/> -->
    
    <!-- Sonar -->
    <!-- <include file="$(find rov_onboard)/launch/sensors/sonar/oculus_sonar.launch"/>  -->


</launch>
