<?xml version="1.0"?>
<launch>
<!-- utilities -->
    <!-- rosserial: talk to synchronizer_arduino -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn="true" >
        <param name="port" value="/dev/arduino_zero_native" type="string" />
        <param name="baud" value="250000"       type="int" />
    </node> 

    <!-- reset arduino system -->
    <node pkg="rostopic" type="rostopic" name="resetter" output="screen"
          args="pub /rov/synchronizer/reset_system std_msgs/Bool -1 true" />

    <!-- synchronizer manager: synchronizer_ros in onboard computer -->
    <!-- backup commands: -->
        <!-- reset arduino clock: rostopic pub /rov/synchronizer/reset_clock std_msgs/UInt32 -1 1642613314 -->
        <!-- set stereo-cam init good: rostopic pub /rov/synchronizer/cam/init std_msgs/Bool -1 true  -->
        <!-- set dvl init good: rostopic pub /rov/synchronizer/dvl/init std_msgs/Bool -1 true  -->
        <!-- reset arduino system: rostopic pub /rov/synchronizer/reset_system std_msgs/Bool -1 true -->
        <!-- enable LED flash as cameras: rostopic pub /rov/synchronizer/led/mode std_msgs/Bool -1 true -->
        <!-- change LED flash brightness: rostopic pub /rov/synchronizer/led/cmd std_msgs/UInt16 -1 80 -->
        <!-- change Servo rotate position: rostopic pub /rov/synchronizer/servo/cmd std_msgs/UInt16 -1 30 -->
    <node pkg="synchronizer_ros" type="synchronizer_manager_node" name="synchronizer_manager" 
          output="screen"        respawn="true" >
    </node> 


</launch>


