<?xml version="1.0"?>
<launch>

<!-- sensors -->
    <!-- Stereo-camera -->
    <!-- <include file="$(find rov)/launch/sensors/flir_stereo_exteTrig.launch"/>  -->

    <!-- DVL Ethernet -->
    <!-- <include file="$(find rov)/launch/sensors/nortek_dvl_ethernet.launch"/> -->
    <!-- DVL Serial -->
    <!-- <include file="$(find rov)/launch/sensors/nortek_dvl_serial.launch"/>  -->
    
    <!-- Sonar -->
    <!-- <include file="$(find rov)/launch/sensors/oculus_sonar.launch"/>  -->

    <!-- AHRS -->
    <!-- <include file="$(find rov)/launch/sensors/microstrain_ahrs.launch"/> -->

<!-- utilities -->
    <!-- LED, Servo, synchronizer -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn="true" >
        <param name="port" value="/dev/arduino" type="string" />
        <param name="baud" value="250000"       type="int" />
    </node> 

<!-- processing -->
    <!-- tf -->
    <!-- <include file="$(find rov)/launch/processing/urdf.launch"/> -->

    <!-- EKF odometry fuse IMU fitered  and DVL 3-axis velocty -->
    <!-- <include file="$(find rov)/launch/processing/ekf_odometry.launch"/> -->


</launch>
