<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rov">

<xacro:property name="PI" value="3.1415926"/>

  <!-- base link located in back_right_ground corner-->
  <link name="base_link"/>

    <link name="dvl"/>

    <link name="sonar_base"/>

      <link name="sonar_surface"/>

    <link name="ahrs"/>

    <link name="left_camera"/>

    <link name="right_camera"/>

  <!-- sonar position 60: check -->
  <joint name="base_to_sonar_base" type="fixed">
    <parent link="base_link"/>
    <child link="sonar_base"/>
    <origin xyz="0.4925 0.16271875 0.0777875" rpy="0 ${-23.91/180*PI} 0"/>
  </joint>
  <joint name="sonar_base_to_surface" type="fixed">
    <parent link="sonar_base"/>
    <child link="sonar_surface"/>
    <origin xyz="0.078359 0.0 -0.011684" rpy="0 0 0"/>
  </joint>

  <!-- dvl: check -->
  <joint name="base_to_dvl" type="fixed">
    <parent link="base_link"/>
    <child link="dvl"/>
    <origin xyz="-0.139 0.1716 0.391" rpy="0 0 0"/>
  </joint>

  <!-- ahrs -->
  <joint name="dvl_to_ahrs" type="fixed">
    <parent link="dvl"/>
    <child link="ahrs"/>
    <!--  z = -0.294353 -->
    <origin xyz="0.43382845 -0.088165092 -0.30145" rpy="3.13184 0.00322321 3.13023"/>
  </joint>

  <!-- stereo cameras: from kalibr muli-cam calibrations and cams-imus calibrations -->
  <joint name="ahrs_to_right_cam" type="fixed">
    <parent link="ahrs"/>
    <child link="right_camera"/>
    <origin xyz="0.310766 0.0430336 -0.278374" 
            rpy="-3.13826 -0.00971778 1.55943"/>
  </joint>

  <joint name="right_cam_to_left_cam" type="fixed">
    <parent link="right_camera"/>
    <child link="left_camera"/>
    <origin xyz="0.07931133771395357 -0.0009070043568538431 0.0002663456962428519" 
            rpy="-0.00186865 -0.00409404 -0.00348721"/>
  </joint>

</robot>